.header {
  padding: 15px 0;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
}
.city {
}
.header__title {
  text-align: center;
  margin-bottom: 15px;
  color: #352f44;
}
.city__form {
}
.city__select {
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.588);
  outline: none;
  option {
    background-color: rgba(255, 255, 255, 0.588);
  }
}
.date {
  display: flex;
  gap: 5px;
}
.date__day {
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.588);
  padding: 3px 7px;
}
.date__week {
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.588);
  padding: 3px 7px;
}
.date__month {
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.588);
  padding: 3px 7px;
}
