*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

html {
  height: 100%;
  overflow-x: hidden;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: #000;
  background-color: #fff;
  font-size: 15px;
  overflow-x: hidden;
  background-image: url("/img/23.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
main {
  flex-grow: 1;
}
ul {
  padding-left: 0;
  list-style: none;
}

li {
  text-decoration: none;
}
